body {
    position: relative;
}

body::before {
    position: absolute;
    z-index: 0;
    content: '';
    display: block;
    background-image: url(../pictures/IMG_3318.JPG);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 30%;
}

#root {
    position: relative;
    z-index: 1;
}

p {
    background-color:white;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    border: 3px solid black;
    font-size: 150%;
}
.title{
    background-color: orange;
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 0%;
    
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.on {
    color: #000;
}

.off {
    color: #ccc;
}