body {
    background-image: url(../pictures/IMG_3318.JPG);
}

p {
    background-color:orange;
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
    padding: 2%;
    border: 3px solid black;
}
.title{
    background-color: #469DE1;
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 0%;
}
